<h3>Checkers</h3>
<p>Checkers is among the oldest known games still being played today. A game believed to be an early version of checkers was dated back to 3,000 B.C.E. found by archeologists in the ancient city of Ur in Iraq. </p>

<img src="assets/images/Checkers.jpg">

<h4>Setup</h4> 
<p>Using a classic 8x8 chess board, each player places their twelve pieces, which are called "men", on the dark squares on their side of the board. The board should be positioned so that each player has a light square on the right side corner.</p>

<h4>Gameplay</h4>
<p>Black opens the game, then players alternate turns. When it is your turn, you have two actions you can take.</p>
<ul>
    <li><b>Move</b>: Pieces can only move diagonally and single pieces must move forward one square.</li>
    <li><b>Capture</b>: To capture a piece of your opponent, your piece leaps over one of the opponent's pieces and lands in a straight diagonal line on the other side. This landing square must be empty.
        When a piece is captured, it is removed from the board. Only one piece may be captured in a single jump, but multiple jumps are allowed on a single turn. <strong>If a player is able to make the capture, then the jump must be made</strong>.
        If more than one capture is available, then the player decides if he prefers this or not. Single pieces may shift direction diagonally during a multiple capture turn, but must always jump forward (toward the opponent).
    </li>
</ul>

<h4>'Kinging' a piece</h4>
<p>When a piece reaches the opponent's first row, it is crowned and becomes a king.
    One of the pieces which had been captured is placed on top of the king so that it is twice as high as a single piece.
    Kings are limited to moving diagonally but can move both forward and backward. 
    Kings may combine jumps in several directions (forward and backward) on the same turn.</p>

<h4>Winning</h4>
<p>A player wins the game when the opponent cannot make a move.
    This happens usually because all of the opponent's pieces have been captured, but it could also be because all of his pieces are blocked in.</p>
