<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="isSignedin ? ['dashboard'] : ['']">Game Center</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row" [ngClass]="{ show: isExpanded }" >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Games
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngIf="isSignedin"><a class="dropdown-item"[routerLink]="['/tic-tac-toe']">Tic-Tac-Toe</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Examples
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['/counter']">Counter</a></li>
              <li><a class="dropdown-item" [routerLink]="['/fetch-data']">Fetch data</a></li>
              <li *ngIf="isSignedin"><hr class="dropdown-divider"></li>
              <li *ngIf="isSignedin"><a class="dropdown-item" [routerLink]="['/crud-examples']">Crud Examples</a></li>
              <li *ngIf="isSignedin"><a class="dropdown-item" [routerLink]="['/style-examples']">Style Examples</a></li>
            </ul>
          </li>
        </ul>   
        <button class="btn btn-outline-success btn-sm" *ngIf="isSignedin" [routerLink]="['/new-game']">New game <i class="fas fa-plus"></i></button>     
      </div>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }" >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngIf="!isSignedin"><a class="dropdown-item" [routerLink]="['/sign-in']">Sign In</a></li>
              <li *ngIf="isSignedin"><a class="dropdown-item" (click)="signOut()" [routerLink]="['/sign-in']">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
