<h3>Mancala</h3>
<p>Mancala is among the oldest known games still being played today potentially hailing back Ancient Egypt.</p>

<img src="assets/images/mancala-example-layout.png">

<h4>Winning</h4>
<p>The player with the most pieces at the end of the game wins.</p>

<h4>Setup</h4>
<p>Each slot starts with four pieces and the Mancala stores empty.</p>

<h4>Gameplay</h4>
<p>On a player's turn they must choose one slot on their side of the board, pick up all of the pieces in the slot, then moving counter clockwise place one piece in each slot (skipping the opponent's Mancala Store) until all of the selected pieces are placed.</p>
<ul>
    <li>If the final piece placed on a turn is in your Mancala store then you get another turn</li>
    <li>If the final piece placed on a turn is in an empty slot on your side of the board you may capture the piece and any of the opponents pieces in the opponent's adjacent slot.  Place all of the captured pieces in your Mancala store</li>
    <li>A piece placed in a Mancala store is captured and remains there for the rest of the game</li>
    <li>The game ends when one player has no more pieces in their slots.</li>
    <li>When the game ends, the player with remaining pieces captures the rest of their remaining pieces and places them in their Mancala store.</li>
</ul>