// label {
//     display: block;
//     font: .9rem 'Fira Sans', sans-serif;
// }

//input[type='submit'],
// label {
//     margin-top: 1rem;
// }

input, button {
    margin-top: 5px;
    width: 100%;
}

#container{
    margin: 0 auto;
    width: 300px;    
    padding: 20px;
    background-color: #efefef;
}