<h1 class="d-inline mr-3">Crud Examples</h1> 
<button class="btn btn-dark mr-3 mb-3" (click)="load()">Refresh</button>
<button class="btn btn-success mb-3" (click)="create()">Create</button>
<table class="table table-striped" *ngIf="crudExamples">
    <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Text</th>
            <th>Date Created</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let crudExample of crudExamples">
            <td>
                <button class="btn btn-info mr-3" (click)="edit(crudExample)">Edit</button>
                <button class="btn btn-danger" (click)="delete(crudExample)"> Delete</button>
            </td>
            <td>{{crudExample.id}}</td>
            <td>{{crudExample.text}}</td>
            <td>{{crudExample.dateCreated | date:'short'}}</td>
        </tr>
    </tbody>
</table>