@import '../../../../../styles/theme';

main{    
    display: grid;
    grid-template-rows: 250px 250px;
    color: map-get($theme-colors, "secondary");
    font-size: 3em;
}

.keep{
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid map-get($theme-colors, "primary");
}


#opponent-keep{
    background-color: map-get($theme-colors, "danger");
}

#player-keep{
    background-color: map-get($theme-colors, "primary");
}

.slots{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 7;
}

.slot{
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid map-get($theme-colors, "primary");
    background-color: map-get($theme-colors, "info");
    color: map-get($theme-colors, "primary");
}

#opponent-slots{
    grid-row: 1;
}

#player-slots{
    grid-row: 2;
    .slot:hover{
        cursor: pointer;
        background-color: map-get($theme-colors, "success");
        border: 1px solid map-get($theme-colors, "info");;
        color: map-get($theme-colors, "primary");
    }
    .slot:active{
        cursor: pointer;
        background-color: map-get($theme-colors, "primary");
        border: 1px solid map-get($theme-colors, "info");
        color: map-get($theme-colors, "secondary");
    }
}